<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Dashboard</h1>
    <div>
    	<blockquote>
  			<p><h2 class="dash-greeting">Hola!</h2></p>
  			<p>We are doing amazing things for you!</p>
  			<p>With PersTodo, you'll can keep track of all your personal tasks both pending and already made, so you'll always be up with your daily tasks.</p>
  			<p>
  				<ul>
		      		<li><strong>Track your tasks</strong></li>
		      		<li><strong>Organize your daily to-do</strong></li>
		      		<li><strong>Achieve more</strong></li>
		    	</ul>	
  			</p>
  			<footer>PersTodo...<cite title="Enjoy your tasks!">Enjoy your tasks!</cite></footer>
		</blockquote>
  	</div>
</div>